

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - LegoM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light justify-content-between">
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <span style="font-size: small">If your order costs more than 50 leva you get discount</span>
                <ul class="navbar-nav flex-grow-1 ml-5">
                    <li class="nav-item">
                     <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Add">Add Product</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="All">All Products</a>
                    </li>
                </ul>
                <div class="collapse navbar-collapse dropdown" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item text-dark dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separazazazazated link</a>
                            </div>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>

            </div>
        </nav>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand mb-0 h5" asp-area="" asp-controller="Home" asp-action="Index">LEGO-M</a>
                <form method="get" class="form-inline">
                    <input name="SearchTerm" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button asp-controller="Products" asp-action="All" class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (this.TempData.ContainsKey(WebConstants.GlobalMessageKey))
            {
                <div class="alert alert-success text-center" role="alert">@this.TempData[WebConstants.GlobalMessageKey]</div>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - LegoM 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
