@using Microsoft.AspNetCore.Identity
@using LegoM.Data.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IMerchantService merchantService

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        var userId = this.User.Id();

        var isUserMerchant = merchantService.IsMerchant(userId);

        var userIsAdmin = this.User.IsAdmin();



        <li class="nav-item text-dark dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/" role="button" aria-haspopup="true" aria-expanded="true">Account</a>
            <div class="dropdown-menu">
                <a class="nav-link text-dark ml-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">My Account</a>
                <a class="nav-link text-dark ml-2" asp-area="" asp-controller="Reviews" asp-action="Mine">My Reviews</a>
                <a class="nav-link text-dark ml-2" asp-area="" asp-controller="Questions" asp-action="Mine">My Questions</a>
                <div class="dropdown-divider"></div>
                <a class="nav-link text-dark ml-2" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
            </div>
        </li>





        @if (isUserMerchant && !userIsAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Mine">My Products</a>
            </li>
        }
        else if (!userIsAdmin)
        {

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Ad" asp-controller="Merchants" asp-action="Become">Become Merchant</a>
            </li>
        }
        else if(userIsAdmin)
        {

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Products" asp-action="All">Administration</a>
            </li>
        }


    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Favourites" asp-action="All">Favourites</a>
    </li>
</ul>
