@model ReportFormModel

@{ 
    ViewBag.Title = "Add Report";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 ofset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">@ViewBag.Title</h2>
        <form method="post">
            <label asp-for="ReportType"></label>
            <select asp-for="ReportType" class="form-control" asp-items="Html.GetEnumSelectList<ReportType>()">
                <option selected="selected" value="">Please select</option>
            </select>
            <span asp-validation-for="ReportType" class="small text-danger"></span>
            <div class="form-group">
                <label asp-for="Content"></label>
                <textarea asp-for="Content" rows="4" class="form-control" placeholder="please enter Content"></textarea>
                <span asp-validation-for="Content" class="small text-danger"></span>
            </div>           
            <input class="btn btn-primary float-right" type="submit" value="Report" />
        </form>
    </div>
</div>