@model IEnumerable<ProductServiceModel>


@{
    ViewBag.Title = "My Products";
    ViewBag.AllowProductEdit = true;
}


<h1 class="text-center mb-5 mt-3">@ViewBag.Title</h1>


@if (!Model.Any())
{
    <h2 class="text-center">No products was found !</h2>

}

<partial name="_ProductsPartial" model="@Model" />

